body {
  margin: 0%;
  padding: 0%;
  height: 100%;
}
/*nav bar*/
.navbar {
  position: absolute;
  width: 100%;
  max-width: 1365px;
  height: 95px;
  top: -2px;
  left: 0;
  background-color: rgba(14, 10, 10, 0.5);
  /* background-color: white; */
  text-decoration: none;
  z-index: 1000;
  margin: 0%;
  padding: 0%;
}

.Home,
.About,
.Predictor,
.Solution,
.Destruction,
.Resources,
.insurance,
.contact {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
}

.Home {
  position: absolute;
  top: 39px;
  left: 237px;
  color: #ffffff;
}

.About {
  position: absolute;
  top: 39px;
  left: 317px;
}

.Predictor {
  position: absolute;
  top: 39px;
  left: 417px;
}

.Solution {
  position: absolute;
  top: 39px;
  left: 517px;
}
.Destruction {
  position: absolute;
  top: 39px;
  left: 615px;
  color: #12d3d3;
}
.Resources {
  position: absolute;
  top: 39px;
  left: 707px;
}

.insurance {
  position: absolute;
  top: 39px;
  left: 817px;
}

.contact {
  position: absolute;
  top: 39px;
  left: 917px;
}

.image {
  position: absolute;

  height: 49px;
  top: 23px;
  left: 82px;
  object-fit: cover;
}

.signup {
  position: absolute;
  width: 102px;
  height: 38px;
  top: 29px;
  left: calc(
    100% - 312px
  ); /* Adjusted based on the total width of the navbar */
  background-color: #088e8e;
  border-radius: 15px;
}

.signup-wrapper,
.login-wrapper {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login {
  position: absolute;
  width: 102px;
  height: 38px;
  top: 29px;
  left: calc(100% - 185px);
  background-color: #023535;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px;
  }

  .Home,
  .About,
  .Predictor,
  .Solution,
  .Resources,
  .insurance,
  .contact {
    position: static;
    display: block;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .image {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .signup,
  .login {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    left: 0;
  }
}
.signup,
.login {
  position: absolute;
  width: 102px;
  height: 38px;
  top: 29px;
  background-color: #088e8e;
  border-radius: 15px;
  text-align: center;
  line-height: 38px;
}
.login {
  background-color: #023535;
}

.signup-wrapper,
.login-wrapper {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .image {
    width: 60px;
    height: 36px;
    top: 20px;
    left: 5%;
  }
}
.user-initials-circle {
  position: absolute;
  top: 22px;
  left: calc(100% - 152px);
  display: inline-block;
  width: 50px;
  height: 46px;
  border-radius: 50%;
  background-color: #09b9b9;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-initials {
  color: white;
  font-size: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #069494;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 68px;
  left: calc(100% - 172px);
  border-radius: 20px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: large;
}

.dropdown-content a:hover {
  background-color: #1ab4b4;
  border-radius: 30px;
}

.user-initials-circle:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #069494;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 68px;
  left: calc(100% - 172px);
  border-radius: 20px;
}

.user-initials-circle:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .user-initials-circle {
    top: 20px;
    left: calc(100% - 62px);
  }

  .dropdown-content {
    top: calc(100% + 10px);
    left: calc(50% - 80px);
  }
}

.footer {
  position: relative;
  height: 480px;
  bottom: 0;
  left: 0;
  z-index: 0;

  margin-top: auto;
}

.footer img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.footer-content {
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: white;
}

.contact-us-www {
  position: absolute;
  width: 192px;
  top: 226px;
  left: 925px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}

.text-wrapper-11 {
  position: absolute;
  width: 117px;
  top: 176px;
  left: 166px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
}

.text-wrapper-12 {
  position: absolute;
  width: 118px;
  top: 176px;
  left: 378px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.text-wrapper-13 {
  position: absolute;
  width: 109px;
  top: 176px;
  left: 569px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.text-wrapper-14 {
  position: absolute;
  width: auto;
  top: 176px;
  left: 735px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.text-wrapper-15 {
  position: absolute;
  width: 158px;
  top: 176px;
  left: 932px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.text-wrapper-16 {
  position: absolute;
  width: 164px;
  top: 221px;
  left: 138px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}

.text-wrapper-17 {
  position: absolute;
  width: 149px;
  top: 223px;
  left: 368px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}

.how-we-do-it {
  position: absolute;
  width: 102px;
  top: 223px;
  left: 570px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}
.text-wrapper-18 {
  position: absolute;
  width: 102px;
  top: 224px;
  left: 735px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}
.grey-footer {
  background-color: #1a02028c;
  padding: 20px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body {
  /* Increasing page height */
  min-height: calc(154vh + 480px); /* Adding the height of the footer */
  position: relative;
}

.section2 label {
  color: #fdfdfd;
}

.section2 .overlay {
  height: 740px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(2, 10, 22, 0); */
  z-index: -1;
}

.card button {
  width: 100%;

  background-color: #048675;
  font-size: large;
}
.card button:hover {
  background-color: #009e69;
}
.section2 h2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;

  font-size: 36px;
}
/* Styling for the progress bar */
#destruction-progress {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  /* Background color of the progress bar */
}

#destruction-progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 50px;
}

#destruction-progress::-webkit-progress-value {
  background-color: #0055a5; /* Color of the progress bar itself */
  border-radius: 10px;
}

/* Styling for the destruction label */
#destruction-label {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff; /* Text color of the label */
}
.section2 h3 {
  color: white;
}
label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-family: "Roboto-Bold", Helvetica;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #5a5a5a81;
  color: white;
}

button {
  background-color: #088e8e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #45a049;
}
.section2 {
  position: relative;
  display: flex; /* Using flexbox for centering */
  justify-content: center;
  align-items: center;
  height: 940px;
  background-image: url(/static/damageee.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.card {
  background-color: rgba(2, 18, 29, 0.712);
  padding: 40px;
  width: 56%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(26, 25, 25, 0.295);
}

.damagetext {
  position: absolute;
  width: 149px;
  top: 285px;
  left: 368px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}
.resourcestext {
  position: absolute;
  width: 102px;
  top: 255px;
  left: 570px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-decoration: none;
}
